---
---
/* Couldn't seem to separate these into multiple files using @import


/* ************ VARIABLES ************ */

$page-background-color: #EBE7DB

$border-color: lighten($page-background-color, 5%)

$accent-color-1: #CE086C
$accent-color-2: #0089A5
$accent-color-3: #F5E700
$accent-color-4: #36353A

$engine-yard-red: #A63724

$header-color: $accent-color-2
$normal-text-color: $accent-color-4
$quiet-text-color: lighten($accent-color-4, 20%)

$page-margin: 20px
$max-page-width: 690px
$column-gutter: 50px

/* ************ MIXINS ************ */

=clearfix
  &:after
    clear: both
    content: "."
    display: block
    height: 0
    visibility: hidden

=opacity($value)
  filter: alpha(opacity=$value*100)
  -moz-opacity: $value
  -khtml-opacity: $value
  opacity: $value

=border-radius($radius)
  -moz-border-radius: $radius
  -webkit-border-radius: $radius
  border-radius: $radius

// Based on YUI Font Sizes
= font-size($size)
  @if $size == 9
    font-size: 70%
  @if $size == 10
    font-size: 77%
  @else if $size == 11
    font-size: 85%
  @else if $size == 12
    font-size: 93%
  @else if $size == 13
    font-size: 100%
  @else if $size == 14
    font-size: 108%
  @else if $size == 15
    font-size: 116%
  @else if $size == 16
    font-size: 123.1%
  @else if $size == 17
    font-size: 131%
  @else if $size == 18
    font-size: 138.5%
  @else if $size == 19
    font-size: 146.5%
  @else if $size == 20
    font-size: 153.9%
  @else if $size == 21
    font-size: 161.6%
  @else if $size == 22
    font-size: 167%
  @else if $size == 23
    font-size: 182%
  @else if $size == 24
    font-size: 186%
  @else if $size == 25
    font-size: 189%
  @else if $size == 26
    font-size: 196%
  @else if $size == 27
    font-size: 235%

=font-normal
  font-family: "Trebuchet MS", verdana, clean, sans-serif

=font-proxima-nova-semibold
  font-family: "ProximaNovaSemibold", verdana, clean, sans-serif
  font-weight: normal

=font-proxima-nova-light
  font-family: "ProximaNovaLight", "Trebuchet MS", verdana, clean, sans-serif
  font-weight: normal

=font-monospace
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace

=font-serif
  font-family: "Georgia", serif


/* ************ BASE ************ */

h1
  +font-size(26)
h2
  +font-size(20)
h3
  +font-size(18)
h4
  +font-size(14)

h1, h2, h3, h4, h5, h6
  +font-proxima-nova-semibold
  line-height: 1.2em

body
  color: $normal-text-color
  a
    &:link, &:visited
      color: $accent-color-4
      text-decoration: underline
    &:hover
      color: $accent-color-1

/* ************ UTILS ************ */

.pill
  background-color: $accent-color-4
  color: $page-background-color
  +border-radius(15px)
  padding: 6px

.code, .command
  @extend .pill
  +font-size(11)
  +font-monospace
  padding-left: 15px
  letter-spacing: 1px
  font-weight: normal
  position: relative
  span.file
    +font-proxima-nova-light
    text-transform: uppercase
    position: absolute
    letter-spacing: 2px
    right: 15px
    top: 7px
    color: lighten($accent-color-4, 22%)

.section-header
  text-transform: uppercase
  letter-spacing: 3px
  +font-size(14)
  margin-top: 45px
  margin-bottom: 10px
  line-height: 1.2em
  color: $header-color

.inner-header
  +font-size(14)
  font-style: italic
  margin-bottom: 10px
  line-height: 1.2em
  span
    +font-size(11)
    font-weight: normal

.page-header
  +font-proxima-nova-light
  color: $header-color
  letter-spacing: 3px
  text-transform: uppercase

.blockquote
  +font-size(13)
  +font-serif
  line-height: 1.4em
  margin: 0
  padding: 20px 10px 5px 40px
  background:
    color: lighten($page-background-color, 5%)
    image: url(../images/icons/quote-1.png)
    repeat: no-repeat
    position: 20px 10px
  font-style: italic

ul.testimonials
  margin: 0
  padding: 0
  li
    margin: 30px 0
    padding: 0
    position: relative
    min-height: 115px
    .testimonial-photo
      +border-radius(5px)
      position: absolute
      left: 10px
      top: -20px
      padding: 3px
      background-color: lighten($page-background-color, 7%)
      line-height: 0
      img
        width: 115px
        height: 115px
        @media only screen and (max-width: 480px)
          width: 75px
          height: 75px

    .quote-with-citation
      blockquote
        @extend .blockquote
        padding-left: 160px
        background:
          position: 140px 10px
        @media only screen and (max-width: 480px)
          padding-left: 115px
          background-position: 95px 10px
      .citation
        @extend .inner-header
        +font-size(12)
        padding-top: 10px
        text-align: right
        margin: 0 10px
        line-height: 1em
    &.right
      .testimonial-photo
        left: auto
        right: 10px
      .quote-with-citation
        blockquote
          padding-left: 30px
          padding-right: 140px
          background:
            image: url(../images/icons/quote-2.png)
            position: 10px 10px
          @media only screen and (max-width: 480px)
            padding-right: 115px
        .citation
          padding-left: 0
          padding-right: 140px
          text-align: left
          @media only screen and (max-width: 480px)
            padding-right: 115px

ul.resources
  +font-size(11)
  margin: 0
  padding: 0
  li
    padding: 0
    line-height: 1.1em
    margin-bottom: 1px
    background: lighten($page-background-color, 5%)
    padding: 10px 10px 10px 33px
    &.document, &.asset
      background:
        position: 10px 8px
        repeat: no-repeat
    &.document
      background-image: url(../images/icons/document.png)
    &.asset
      background-image: url(../images/icons/puma-favicon.png)

/* ************ LAYOUT ************ */

html
  background: $page-background-color url(../images/puma-footer.jpg) no-repeat right bottom
  @media only screen and (max-width: 480px)
    background-position: center bottom
#page-container
  max-width: $max-page-width
  padding: $page-margin
  margin: auto

#global-header
  background: white
  border-bottom: 5px solid $engine-yard-red
  padding: 10px $page-margin
  #project-byline
    position: relative
    top: 10px
    a
      text-decoration: none
  span.logo
    display: inline-block
    height: 29px
    width: 97px
    background: transparent url(../images/ey-logo.png) 0 0 no-repeat
    text-indent: -9999px
    vertical-align: middle
  #ey-promo
    +font-size(12)
    position: absolute
    right: 20px
    top: 23px
    @media only screen and (max-width: 730px)
      position: static

#external-services-container
  text-align: right
  margin: 20px $page-margin 20px 0
  +font-size(10)
  #share
    +clearfix
    margin: 0
    li
      display: inline-block
      &.mail
        .s-ico
          background: transparent url(../images/icons/mail.png) no-repeat 1px 2px
      &.facebook
        position: relative
        top: 1px
      &.twitter iframe
        width: 85px !important
  #travis-ci-status
    margin-top: 5px
    a
      text-decoration: none
    img
      vertical-align: top

header.expanded
  text-align: center
  margin-bottom: 55px
  @media only screen and (max-width: 480px)
    margin-bottom: 40px
  h1
    +font-proxima-nova-semibold
    font-size: 350%
    letter-spacing: 20px
    margin: 20px auto 25px
    text-transform: uppercase
    img
      width: 419px
      height: 121px
      @media only screen and (max-width: 480px)
        width: 300px
        height: 87px
      @media only screen and (max-width: 320px)
        width: 225px
        height: 65px
  .tagline
    +font-proxima-nova-semibold
    +font-size(14)
    letter-spacing: 3px
    line-height: 1.4em
    text-transform: uppercase
  .page-separator
    height: 30px
    margin-top: 40px
    background: transparent url(../images/patterns/wave.png) repeat-x center center
    img
      background: $page-background-color
      padding: 0 25px
      width: 103px
      height: 38px
    @media only screen and (max-width: 480px)
      margin-top: 0
      img
        padding: 0 10px
        width: 88px
        height: 32px

header.condensed
  text-align: left
  background: transparent url(../images/patterns/wave.png) repeat-x center center
  margin-bottom: 40px
  h1
    +font-proxima-nova-semibold
    font-size: 350%
    letter-spacing: 20px
    margin: 0
    text-transform: uppercase
    img
      background: $page-background-color
      padding-right: 10px

footer
  margin-top: 125px
  margin-bottom: $page-margin
  +font-size(11)
  padding-left: 22px
  background:
    image: url(../images/icons/puma-favicon.png)
    repeat: no-repeat
    position: 0 3px


/* ************ MARKETING PAGE ************ */

#marketing-page
  h1, h2
    +font-proxima-nova-light
  h1, h2, h3
    color: $header-color
  h2, h3
    text-transform: uppercase
    letter-spacing: 3px
  h3
    @extend .section-header
  h4
    @extend .inner-header
  ul, li
    list-style: none
  .section
    margin-bottom: 60px
  #overview, #usage
    width: (($max-page-width - $column-gutter) / 2)
    float: left
    @media only screen and (max-width: 730px)
      width: 100%
      float: none
  #overview
    margin-right: $column-gutter
    .current-release
      span
        +font-size(10)
        background: lighten($page-background-color, 7%)
        padding: 5px
        text-transform: uppercase
        letter-spacing: 3px
    h2
      font-size: 260%
      margin: 0 0 20px 0
      line-height: 1.1em
      @media only screen and (max-width: 480px)
        font-size: 200%
    .video
      margin: 25px 0 40px
  #usage
    #quickstart-with-bundler
      h3
        margin-top: 0
  #testimonials
    padding-top: 50px
    clear: left
  #history
    +font-size(12)
    h4
      margin-bottom: 5px
      margin-top: 20px
  #comparisons
    ul#speed-comparison
      margin: 0
      padding: 0
      li
        @extend .pill
        +font-size(11)
        +font-proxima-nova-light
        margin-bottom: 5px
        padding-left: 10px
        letter-spacing: 2px
        text-transform: uppercase
        height: 19px
        p
          margin-bottom: 0
          position: absolute
          line-height: 1.7em
          white-space: nowrap
        span.speed
          font-style: italic
          text-transform: none
          letter-spacing: 0
        &.competitor
          background-color: darken($page-background-color, 10%)
          color: darken($page-background-color, 50%)
        &.puma-1
          background-color: darken($accent-color-1, 8%)
        &.puma-2
          background-color: darken($accent-color-2, 8%)
        &.puma-3
          background-color: darken($accent-color-3, 8%)
        &.puma-4
          background-color: $accent-color-4



/* ************ SIMPLE PAGE ************ */

.simple-page
  h1
    @extend .page-header
  blockquote
    @extend .blockquote
    margin: 20px 0
  table
    margin: 20px 0
    width: 100%
    th
      background: $accent-color-4
      +opacity(0.9)
      color: white
      border-bottom: 1px solid lighten($accent-color-4, 15%)
      text-align: left
    td
      text-align: left
      border-bottom: 1px solid $border-color