@font-face {
  font-family: 'ProximaNovaLight';
  src: url('/fonts/proximanova-light-webfont.eot');
  src: url('/fonts/proximanova-light-webfont.eot?#iefix') format('embedded-opentype'),
       url('/fonts/proximanova-light-webfont.woff') format('woff'),
       url('/fonts/proximanova-light-webfont.ttf') format('truetype'),
       url('/fonts/proximanova-light-webfont.svg#ProximaNovaLight') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNovaSemibold';
  src: url('/fonts/proximanova-semibold-webfont.eot');
  src: url('/fonts/proximanova-semibold-webfont.eot?#iefix') format('embedded-opentype'),
       url('/fonts/proximanova-semibold-webfont.woff') format('woff'),
       url('/fonts/proximanova-semibold-webfont.ttf') format('truetype'),
       url('/fonts/proximanova-semibold-webfont.svg#ProximaNovaSemibold') format('svg');
  font-weight: normal;
  font-style: normal;
}