.share-btn {
  height: 20px;
  overflow: hidden;
  font: bold 11px/14px "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-rendering: optimizeLegibility; }
  .share-btn a {
    text-decoration: none !important;
    color: #666666 !important;
    line-height: 1.1em; }
    .share-btn a:hover {
      color: #36353a !important; }

.s-btn {
  float: left;
  padding: 2px 5px 2px 4px;
  color: #666666;
  text-decoration: none;
  text-shadow: 0 1px 0 white;
  white-space: nowrap;
  cursor: pointer;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #e6e6e6;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(white), color-stop(25%, white), to(#e6e6e6));
  background-image: -webkit-linear-gradient(white, white 25%, #e6e6e6);
  background-image: -moz-linear-gradient(top, white, white 25%, #e6e6e6);
  background-image: -ms-linear-gradient(white, white 25%, #e6e6e6);
  background-image: -o-linear-gradient(white, white 25%, #e6e6e6);
  background-image: linear-gradient(white, white 25%, #e6e6e6);
  background-repeat: no-repeat;
  border: 1px solid #cccccc;
  border-bottom-color: #bbbbbb;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2); }
  .s-btn:hover, .s-btn:focus {
    color: #333333;
    text-decoration: none;
    background-position: 0 -10px; }
  .s-btn:active {
    -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15); }

.s-ico {
  float: left;
  width: 14px;
  height: 14px;
  margin-right: 4px;
  vertical-align: middle;
  opacity: 0.65; }

.s-btn:hover .s-ico, .s-btn:focus .s-ico {
  opacity: 0.75; }
