<div id="external-services-container">
  <ul id="share">
    <li class="github-watch">
      <!-- Place this tag where you want the button to render. -->
      <a class="github-button" href="https://github.com/puma/puma/" data-size="large" data-show-count="true" aria-label="Download puma/puma on GitHub">View on Github</a>
    </li>
    <li class="github-fork">
      <a class="github-button" href="https://github.com/puma/puma/fork" data-icon="octicon-repo-forked" data-size="large" aria-label="Fork puma/puma on GitHub">Fork</a>
    </li>
  </ul>
  <p id="ci-status">
    <a href="https://github.com/puma/puma/actions"><img src="https://github.com/puma/puma/workflows/Tests/badge.svg" alt="[Tests Build Status]"/></a>
  </p>
</div>

