<div id="external-services-container">
  <ul id="share">

    <li class="twitter">
      <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://puma.io" data-lang="en" data-via="engineyard" data-related="engineyard" data-hashtags="engineyardpuma">Tweet</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </li>
    <li class="facebook"><iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fpuma.io&amp;send=false&amp;layout=button_count&amp;width=76&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font&amp;height=21&amp;appId=252181208127262" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:76px; height:21px;" allowTransparency="true"></iframe></li>
    <li class="mail">
      <span class="share-btn">
        <a href="mailto:[insert email]?subject=Check out RailsInstaller&amp;body=Go to Puma.io" target="_blank" class="s-btn">
          <span class="s-ico"></span>
          <span class="s-text">Email</span>
        </a>
      </span>
    </li>
    <li class="github-watch"><iframe src="http://markdotto.github.com/github-buttons/github-btn.html?user=evanphx&repo=puma&type=watch"
      allowtransparency="true" frameborder="0" scrolling="0" width="62px" height="20px"></iframe></li>
    <li class="github-fork"><iframe src="http://markdotto.github.com/github-buttons/github-btn.html?user=evanphx&repo=puma&type=fork"
      allowtransparency="true" frameborder="0" scrolling="0" width="53px" height="20px"></iframe></li>
  </ul>
  <p id="travis-ci-status">
    <a href="http://travis-ci.org/#!/evanphx/puma">Latest Travis CI Build: <img src="https://secure.travis-ci.org/evanphx/puma.png" alt="[View Status]"/></a>
  </p>
</div>