<div id="external-services-container">
  <ul id="share">
    <li class="github-watch">
      <!-- Place this tag where you want the button to render. -->
      <a class="github-button" href="https://github.com/puma/puma/" data-size="large" aria-label="Download puma/puma on GitHub">View on Github</a>
    </li>
    <li class="github-fork">
      <a class="github-button" href="https://github.com/puma/puma/fork" data-icon="octicon-repo-forked" data-size="large" aria-label="Fork puma/puma on GitHub">Fork</a>
    </li>
  </ul>
  <p id="travis-ci-status">
    <a href="https://travis-ci.org/puma/puma">Latest Travis CI Build: <img src="https://secure.travis-ci.org/puma/puma.svg" alt="[View Status]"/></a>
  </p>
</div>
