<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="Description" content="Puma - A Modern Concurrent Web Server for Ruby. An Engine Yard project.">

<meta name="author" content="Jordan Isip (@fixie) - http://jordanisip.com" />

<link rel="stylesheet" href="/css/reset.css" type="text/css" />
<link rel="stylesheet" href="/css/base.css" type="text/css" />
<link rel="stylesheet" href="/css/fonts.css" type="text/css" />
<link rel="stylesheet" href="/css/application.css" type="text/css" />

<title>{{ page.title }} - Puma</title>