<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="Description" content="Puma - A Modern Concurrent Web Server for Ruby. An Engine Yard project.">

<meta name="author" content="Jordan Isip (@fixie) - http://jordanisip.com" />

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--[if lt IE 9]>
	<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
<![endif]-->

<link rel="stylesheet" href="css/reset.css" type="text/css" />
<link rel="stylesheet" href="css/base.css" type="text/css" />
<link rel="stylesheet" href="css/fonts.css" type="text/css" />
<link rel="stylesheet" href="css/share-button.css" type="text/css" />
<link rel="stylesheet" href="css/jquery.visualize.css" type="text/css" />
<link rel="stylesheet" href="css/application.css" type="text/css" />


<link href="favicon.ico" rel="shortcut icon">
<link href="favicon.ico" rel="icon">

<link rel="apple-touch-icon-precomposed" href="images/icons/puma-favicon-large.png"/>

<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
<script type="text/javascript" src="https://raw.github.com/filamentgroup/jQuery-Visualize/master/js/visualize.jQuery.js"></script>

<script type="text/javascript" src="js/application.js"></script>

<title>{{ page.title }} - Puma</title>