/* FONT FAMILY -------------------------------------------------- FONT FAMILY */
/* Custom  - blue hsl(245, 60%    red hsl(350, 90%    base hsl(240, 5%        */
/* proportional font family   */
body { color: hsl(240, 5%, 14%);
  font-family: Montserrat, 'Segoe UI', 'Helvetica Neue', 'Lucida Sans', Verdana, Arial, Helvetica, sans-serif;
}

/* monospace font family */
div.discussion a, ul.see a,
#y_measure_50pre code,
pre, code, tt, xmp, plaintext, listing,
h2.h2_sum a,
h3.signature   , p.signature,
h3.inherited a , p.inherited a,
h3.signature .aliases .names,
p.signature  .aliases .names,
tr.i_ds a,
td span.summary_signature,
ul.summary.compact,
dl.summary dt,
ul.summary span.summary_signature,
div.tags span.type, div.tags span.name,
ul.param em.default,
.tags .overload .signature,
.summary .note.title.event,
.tags .callback .callback_item .signature,
ul.fullTree, .source_code
{ font-family: 'Roboto Mono', Menlo, 'Lucida Console', 'Courier New', monospace; }

nav.y_nav a,
h3.signature .extras           , p.signature .extras,
h3.signature .aliases          , p.signature .aliases,
h3.signature a.permalink       , p.signature a.permalink,
h3.signature .not_defined_here , p.signature .not_defined_here,
div.index a { font-family: Montserrat, 'Segoe UI', 'Helvetica Neue', 'Lucida Sans', Verdana, Arial, Helvetica, sans-serif;
}

/* FONT WEIGHT -------------------------------------------------- FONT WEIGHT */

/* proportional font weights - headings, tag titles */
#list_title,
dt, h1, h2, h3, h4, h5, h6, strong,
.tags .examples .tag_title,
.tags .examples .inline p,
.tags p.tag_title,
ul.multi > li,
.rdoc-term { font-weight: 500; }

 p.signature .extras,
h3.signature .extras { font-weight: 400; }


/* monospace font weights */

/* div.discussion a, */

/* mono font weights */
ul.see a,
 p.signature strong,  p.signature .aliases .names,
h3.signature strong, h3.signature .aliases .names,
span.summary_signature strong,
span.signature strong,
.tags span.name,
.tags p.tag_title tt, dt tt,
strong > code,
h1 code, h2 code, h2.h2_sum a,
h3 code, h3 a, h3 tt,
h4 code,
h5 code, h6 code,
dl.rdoc-list dt code,
dl.summary dt,
ul.summary.compact li strong { font-weight: 500; }

h3.signature a,
h3.signature code { font-weight: 400; }


/* ANCHOR COLOR ------------------------------------------------ ANCHOR COLOR */

a, a:hover, a:visited, a.permalink { color: hsl(245, 60%, 30%);
  text-decoration: none; }

a:hover { background: hsl(240, 5%, 85%); border-radius: 0.3333em; }

span.summary_desc a,
div.discussion a,
p a              {       background: hsl(270, 15%, 96%); border-radius: 0.3333em; }

span.summary_desc a:hover,
div.discussion a:hover { background: hsl(240, 5%, 85%); }

a.inheritanceTree:hover,
a.toggleDefines:hover,
nav a:hover { border-radius: 0; }

/* HEADER SHADING -------------------------------------------- HEADER SHADING */

#list_header, #list_header:hover {
  background: rgb(248,248,248);
  background: linear-gradient( rgb(248,248,248), rgb(225,226,229) );
  } /* 5.4000em */

  #y_header,   #y_header:hover,
#toc_header, #toc_header:hover {
  background: rgb(248,248,248);
  background: linear-gradient( rgb(248,248,248), rgb(232,233,236) );
} /* 3.5333em */

/* HEADER BUTTONS -------------------------------------------- HEADER BUTTONS */

#hdr_button button { background: hsl(240, 5%, 100%);
                          color: hsl(240, 5%,  25%); }

#hdr_button button:not([disabled]):hover,
#settings   button:not([disabled]):hover {
  box-shadow: 0.133334rem 0.133334rem 0.2rem rgba(160,160,160, 0.5);
      border: 1px solid rgba(160, 160, 160, 0.3);
}

#hdr_button #sh_settings { background: transparent; }

#hdr_button button svg { fill: hsl(240, 5%, 30%); }

#hdr_button button .svg_settings,
svg.svg_settings {
  fill: rgba(255,255,255, 0.2);
  stroke: hsl(240, 5%, 20%);
  stroke-width: 0.066667rem;
}

#hdr_button button:disabled { color: #ddd;
  background: transparent;
}

#hdr_button button.vis, #settings button.vis {
  background: hsl(240, 5%, 100%);
}

#hdr_button button.h, #settings button {
  background: linear-gradient( rgb(232,233,234), rgb(248,248,246) );
}

/* HEADINGS -------------------------------------------------------- HEADINGS */

h1, h2, h3, h4, h5, h6 { padding: 0 1.0rem 0; margin: 1.0000em -1.0rem 0.500000em; }

h2, h3, h4, h5, h6 { border-top-color: hsl(240, 5%, 65%); border-top-style: solid; }

h1 { font-size: 1.466667rem; margin-bottom: 0.500000em;
    min-height: 1.545455em; }

h2 { font-size: 1.333333rem; margin-bottom: 0.400000em;
    min-height: 1.500000em;  border-top-width: 4px; }

h3 { font-size: 1.266667rem; margin-bottom: 0.315789em;
    min-height: 1.368421em;  border-top-width: 3px; }

h4 { font-size: 1.200000rem; margin-bottom: 0.222222em;
    min-height: 1.388889em;  border-top-width: 2px; }

h5 { font-size: 1.133333rem; margin-bottom: 0.176471em;
    min-height: 1.352941em;  border-top-width: 1px; }

h6 { font-size: 1.066667rem; margin-bottom: 0.125000em;
    min-height: 1.375000em;  border-top-width: 1px; }

/* relative needed for expand / collapse */
h2 { border-bottom: 0; position: relative; }

/* content clicked class background */
h1.clicked, h2.clicked, h3.clicked,
h4.clicked, h5.clicked, h6.clicked {
  color: hsl(240, 5%, 10%);
  background: linear-gradient(to right, hsl(240, 5%, 80%), hsl(240, 5%, 86%));
}

/* Remove background from linked objects inside headers */
div.discussion h1 a,
div.discussion h2 a,
div.discussion h3 a,
div.discussion h4 a,
div.discussion h5 a,
div.discussion h6 a { background-color: transparent; }

/* h2 Overview & Summaries -------------------------- h2 Overview & Summaries */

#h2_overview.h + div { display: none; }

h2.h2_sum, #h2_overview {
  cursor: pointer;
  background-image: url("data:image/svg+xml,%3Csvg fill='%23888' viewBox='0 0 19 20' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0' y='11' width='14' height='2'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right top;
    background-size: 1.266667rem 1.333333rem;
}

h2.h2_sum.h, #h2_overview.h {
  background-image: url("data:image/svg+xml,%3Csvg fill='%23888' viewBox='0 0 19 20' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0' y='11' width='14' height='2'/%3E%3Crect x='6' y='5' width='2' height='14'/%3E%3C/svg%3E");
}

#h2_overview.h { color: hsl(240, 5%, 44%); }

h2.h2_sum.clicked, #h2_overview.clicked { background-color: hsl(240, 5%, 86%); }

h2.h2_sum { margin-top: 0.8rem; }

h2.h2_sum.nodoc { border-left: 2px solid hsl( 0, 100%, 45%); padding-left: 0.6em; }

h2.h2_sum + div   > p.inherited,
h2.h2_sum + div   > ul.summary.full    { display: block; }
h2.h2_sum + div   > ul.summary.compact { display: none;  }

h2.h2_sum.h + div > p.inherited,
h2.h2_sum.h + div > section.summary.full,
h2.h2_sum.h + div > ul.summary.full    { display: none;  }
h2.h2_sum.h + div > ul.summary.compact { display: block; }

h2.h2_sum:hover, #h2_overview:hover  { background-color: hsl(240, 5%, 90%); }


/* SUMMARY SIGNATURES ------------------------------------ SUMMARY SIGNATURES */

ul.index_inline_list a,
dl.compact a,
ul.compact a,
td         span.summary_signature,
ul.summary span.summary_signature {
    padding: 0 0.6rem 0 0.466667rem;
   min-height: 1.8rem;
  background: linear-gradient(hsl(240, 5%, 94%), hsl(240, 5%, 92%));
       border: 1px solid hsl(240, 5%, 93%);
  border-left: 2px solid hsl(240, 5%, 93%);
  display: inline-block;
  cursor: pointer;
}

dl.compact a { padding-top: 0.133334rem; }

dl.compact a:hover { background: hsl(240, 5%, 85%); }


/* SIGNATURE ------------------------------------------------------ SIGNATURE */

 p.signature,
h3.signature {
       font-size: 1.000em; /* back down from h3 */
     font-weight: normal;
     line-height: 1.333334rem;
      min-height: 1.933334rem;
         padding: 0.1333334rem  0.733334rem;
          margin: 1.0rem -0.866667rem 0.4rem;
      border-top: 2px solid hsl(240, 5%, 67%);
   border-bottom: 2px solid hsl(240, 5%, 67%);
     border-left: 2px solid transparent;
      background: hsl(240, 5%, 96%);
}

 p.signature tt,
h3.signature tt { font-size: 1.0rem; }

 p.signature.clicked,
h3.signature.clicked {
  color: hsl(240, 5%, 10%);
  border-color: hsl(240, 5%, 30%);
  border-left-color: hsl(240, 5%, 83%);
  background: linear-gradient(to right, hsl(240, 5%, 83%), hsl(240, 5%, 88%));
}

/* h3.signature.clicked span.object_link a { color: hsl(245, 60%, 30%); } */
h3.signature.clicked a { color: hsl(245, 60%, 30%); }
 p.signature .extras,
h3.signature .extras { color: hsl(240, 5%, 25%); } /* font-weight: 500; */

/* LIST BACKGROUND ------------------------------------------ LIST BACKGROUND */

/* LIST Odd Shading */
nav.l_nav li.odd {
  background: linear-gradient(hsl(240, 5%, 97%), hsl(240, 5%, 100%));
}

nav.l_nav .class li.odd > div,
nav.l_nav .class li.odd > a {
  background: linear-gradient(hsl(240, 5%, 98%), hsl(240, 5%, 100%)); }

/* LIST Even Shading */
nav.l_nav li.even {
  background: linear-gradient(hsl(240, 5%, 94%), hsl(240, 5%, 91%)); }

nav.l_nav .class li.even > div,
nav.l_nav .class li.even > a {
  background: linear-gradient(hsl(240, 5%, 94%), hsl(240, 5%, 92%)); }


/* TOC List Background */
nav.t_nav ul li, nav ol li > a, nav.t_nav div {
  border-bottom: 1px solid hsl(240, 5%, 80%);
     background: linear-gradient(hsl(240, 5%, 100%), hsl(240, 5%, 98%));
    white-space: nowrap;
}

nav.t_nav i { letter-spacing: 0.5000px; }

/* Panes hover */
nav.y_nav .class li:hover {background: transparent; }
nav.y_nav li:hover,
nav.y_nav .class li > a:hover,
nav.y_nav .class li > div:hover { background: hsl(240, 5%, 86%); }

/* Panes clicked class background */
nav.y_nav .class li.clicked { background: transparent; }

nav.y_nav .class li.clicked > div,
nav.y_nav .class li.clicked > a {
  background: linear-gradient(hsl(240, 5%, 81%), hsl(240, 5%, 84%));
  color: hsl(245, 60%, 25%);
}

nav.y_nav .class li.clicked div > a:hover { background: transparent; }

nav.y_nav li.clicked,
nav.t_nav li.clicked > a
nav.t_nav li.clicked > a:hover {
  background: linear-gradient(hsl(240, 5%, 81%), hsl(240, 5%, 84%)); }

/* LIST COLORS -------------------------------------------------- LIST COLORS */

nav small,
nav.l_nav span { color: hsl(240, 5%, 45%); }

nav.y_nav button  {
  background-image: url("data:image/svg+xml,%3Csvg fill='%23999' viewBox='0 0 15 12' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='3' y='5' width='12' height='2'/%3E%3C/svg%3E");
}
/* <svg fill='#999' viewBox='0 0 15 12' xmlns='http://www.w3.org/2000/svg'><rect x='3' y='5' width='12' height='2'/></svg> */
nav.y_nav button:hover  {
  background-image: url("data:image/svg+xml,%3Csvg fill='%23446' viewBox='0 0 15 12' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='3' y='5' width='12' height='2'/%3E%3C/svg%3E");
  background-color: hsl(240, 10%, 70%);
}

nav.y_nav li.yl_closed > div button  {
  background-image: url("data:image/svg+xml,%3Csvg fill='%23999' viewBox='0 0 15 12' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='3' y='5' width='12' height='2'/%3E%3Crect x='8' y='0' width='2' height='12'/%3E%3C/svg%3E");
}
/* <svg fill='#999' viewBox='0 0 15 12' xmlns='http://www.w3.org/2000/svg'><rect x='3' y='5' width='12' height='2'/><rect x='8' y='0' width='2' height='12'/></svg> */
nav.y_nav li.yl_closed > div button:hover  {
  background-image: url("data:image/svg+xml,%3Csvg fill='%23446' viewBox='0 0 15 12' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='3' y='5' width='12' height='2'/%3E%3Crect x='8' y='0' width='2' height='12'/%3E%3C/svg%3E");
  background-color: hsl(240, 10%, 70%);
}

/* Panes clicked class color */
nav.l_nav li.clicked small,
nav.l_nav li.clicked span { color: hsl(240, 5%, 32%); }

nav.l_nav li.clicked:hover small,
nav.l_nav li.clicked:hover span { color: hsl(240, 5%, 32%); }

/* 656 fill darken svg */
nav.y_nav li.clicked > div button  {
  background-image: url("data:image/svg+xml,%3Csvg fill='%23656' viewBox='0 0 15 12' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='3' y='5' width='12' height='2'/%3E%3C/svg%3E");
}
/* <svg fill='#656' viewBox='0 0 15 12' xmlns='http://www.w3.org/2000/svg'><rect x='3' y='5' width='12' height='2'/></svg> */

nav.y_nav li.clicked.yl_closed > div > button  {
  background-image: url("data:image/svg+xml,%3Csvg fill='%23656' viewBox='0 0 15 12' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='3' y='5' width='12' height='2'/%3E%3Crect x='8' y='0' width='2' height='12'/%3E%3C/svg%3E");
}
/* <svg fill='#656' viewBox='0 0 15 12' xmlns='http://www.w3.org/2000/svg'><rect x='3' y='5' width='12' height='2'/><rect x='8' y='0' width='2' height='12'/></svg> */

/* MISC UI ELEMENTS ---------------------------------------- MISC UI ELEMENTS */

ul.summary .summary_signature:hover,
ul.compact a:hover {
    background: hsl(240, 5%, 85%);
  border-left-color: hsl(240, 5%, 85%);
  border-radius: 0;
}

ul.compact a.nodoc:hover { border-left-color: hsl(  0, 100%, 45%); }


dl { border: 0; }
dt {
  background: linear-gradient(hsl(240, 5%, 94%), hsl(240, 5%, 92%));
  display: inline-block;
  padding: 0.2000em 0.6000em;
}
 /* dd { margin-left: 2.000em; } GJL */

.index_inline_list li:hover,
.index_inline_list li:hover a,
#content .index_inline_list li a:hover { background: hsl(240, 5%, 85%); }

/* Red paragraph monospace text, markup with ++ */
p > code, .docstring p > tt, .tags p > tt {
  color: hsl(0, 60%, 20%); padding: 0; }

pre.code, .tags pre.example { border-radius: 0; min-height: 1.8667em; }

/* anchors in description text, markup with {} */
/* .summary_desc .object_link a, .docstring .object_link a { */
.summary_desc a, .docstring a {
     padding: 0.0666667em 0.0666667em;
}

span.showSource a { color: hsl(240, 5%, 25%); }

/* yard-js css */
.tags .callback .callback_item .signature {
     padding: 0.0667em 0.8em 0.13333em;
      margin: 0.2000em 0 0.4667em -1.0em;
  min-height: 1.9334em;
  background: hsl(240, 5%, 97%);
      border: 1px solid hsl(240, 5%, 65%);
  display: block;
}

.signature .permalink { float: right; font-size: 0.8667em; }

div.t2_2 {
  display: inline-block;
  max-width: 50%;
  min-width: 40%;
  padding-right: 0;
}

div.t2_2.t2_l { padding-right: 2.0em; }

table.t2_tbl_1 {
  border: 0 none;
}

table.t2_tbl_1 thead {
  border-bottom: 0.13333em solid  hsl(240, 5%, 65%);
  font-weight: 500;
}

table.t2_tbl_1 tbody tr {
  box-sizing: border-box;
  background: transparent !important;
  border-top: 0.0667em solid  transparent;
}

table.t2_tbl_1 tbody tr.t2_div {
  border-top: 0.0667em solid  hsl(240, 5%, 65%);
}

tr.t2_b span.summary_signature { padding: 0; }

tr.t2_b span.summary_signature:hover {
  background: hsl(240, 5%, 85%); }

ul.summary #t2_rc {
  font-family: Montserrat, 'Segoe UI', 'Helvetica Neue', 'Lucida Sans', Verdana, Arial, Helvetica, sans-serif;
  font-size: 1.4em;
  font-weight: 500;
  line-height: 1.4761905em;
  min-height: 0;
  padding: 0.0952381em 0.3809524em;

}

tr.t2_b h3, tr.t2_b h6 {
  display: inherit;
  min-height: inherit;
  line-height: 1.8000em;
  padding: 0 0.6000em;
  margin: 0;
  font-weight: 500; font-size: 1em;
  border: 0 none;
}

table.t2_tbl_1 tbody tr.t2_b    { font-weight: 500; }

table.t2_tbl_1 tbody tr.t2_b td { padding: 0.2000em 0.4667em 0; }

table.t2_tbl_1 tbody tr.t2_s {
   border-bottom: 0.0667em solid  hsl(240, 5%, 65%);;
}

table.t2_tbl_1 tbody tr.t2_s td { padding: 0 0.4667em 0.2000em; }

table.t2_tbl_1 thead td { vertical-align: bottom; }

table.t2_tbl_1 thead td.t2_csa { column-span: all; }

table.t2_tbl_1 td { border: 0 none; padding: 0.2000em 0.4667em; }

table.t2_tbl_1 td.t2_c { text-align: center; }
table.t2_tbl_1 td.t2_r { text-align: right;  }

div.t2_cols_2 {
  -webkit-column-count: 2;
     -moz-column-count: 2;
          column-count: 2;
  -webkit-column-width: 50%;
     -moz-column-width: 50%;
          column-width: 50%;
}

div.t2_cols_3 {
  -webkit-column-count: 3;
     -moz-column-count: 3;
          column-count: 3;
  -webkit-column-width: 33%;
     -moz-column-width: 33%;
          column-width: 33%;
}
