<!DOCTYPE HTML>

<html>
  <head>
    {% include head.html %}
  </head>
  <body>
    {% include ey_header.html %}
    {% include external_services.html %}

    <div id="page-container" class="simple-page">
      <div id="page-header" class="condensed">
        <h1>
          <a href="index.html"><img src="images/logos/puma-logo-small.png" alt="Puma"></a>
        </h1>
      </div>

      <div id="page-content">
        <p><a href="index.html" class="back">Back to Puma Project Homepage</a></p>
        {{ content }}
      </div>

      {% include footer.html %}
    </div>
  </body>
</html>