<!DOCTYPE HTML>

<html>
  <head>
    {% include head.html %}
  </head>
  <body>
    {% include external_services.html %}

    <div id="page-container">
      <div id="page-header" class="expanded">
        <p class="tagline">A Modern, Concurrent Web Server for Ruby</p>
        <h1><img src="images/logos/puma-logo-large.png" alt="Puma"></h1>

        <div class="page-separator">
          <img src="images/logos/puma-symbol.png" />
        </div>
      </div>

      <div id="page-content">
        {{ content }}
      </div>

      {% include footer.html %}
    </div>
  </body>
</html>
